___

<a href='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'><img src='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'/></a>
___
<center><em>Content Copyright VIQASYS INNOVATIONS PVT LTD.</em></center>

# Assignment 1

# Question 1

Write a program to calculate the area of a circle when the radius is given.

In [17]:
import math

radius = float(input("Enter the radius of circle: "))

area = math.pi * (radius ** 2)
print(f"Area of circle with radius {radius} =", round(area, 2))

Enter the radius of circle: 12
Area of circle with radius 12.0 = 452.39

## Question 2

Write a program to determine whether a number is positive, negative, or zero.

In [4]:
num = int(input("Enter the number: "))

if num > 0:
  print(f"{num} is a positive number")
elif num < 0:
  print(f"{num} is a negative number")
else:
  print(f"Entered number is 0")

Enter the number: 0
Entered number is 0

## Question 3
Describe three different data types commonly used in programming

In [5]:
## The three most common data type include following

# String data type
name: str = "Ankit Yadav"
print("Type of name variable:", type(name))

# int data type for numerical value
age: int = 22
print("Type of age variable:", type(age))

# bool data type for Boolean value (True or False)
isMinor: int = False
print("Type of isMinor variable:", type(isMinor))

Type of name variable: <class 'str'>
Type of age variable: <class 'int'>
Type of isMinor variable: <class 'bool'>

## Question 4
Write a program to print a pattern where 'n' repeats 1, 2, and 3 times respectively.

In [8]:
for i in range(1, 4):
  print('n' * i)

n
nn
nnn

## Question 5

Write a program to calculate the number of days between two given dates.

In [11]:
from datetime import datetime

startDate = datetime(2024, 6, 1)
endDate = datetime.now()

print("Days between: ", abs((startDate - endDate).days))

Days between:  33

## Question 6
Write a program to calculate the volume of a sphere given its radius.

In [15]:
import math

radius = float(input("Enter the radius of circle: "))

volume = 4/3 * math.pi * (radius ** 3)
print(f"Volume of sphere of radius {radius} =", round(volume, 2))

Enter the radius of circle: 12
Volume of sphere of radius 12.0 = 7238.23

## Question 7
Write a program to get the difference between a given number and 17, if the number is greater than 17, return double the absolute difference.3

In [20]:
num = int(input("Enter the number: "))
difference = num - 17

if (num > 17):
  print(abs(difference) * 2)
else:
  print(difference)

Enter the number: 18
2

## Question 8

Write a program that accepts a string and checks if it starts with "Is".

In [22]:
input_string = str(input("Enter the string: "))

if (input_string.startswith('ls')):
  print("Entered string starts with ls")
else:
  print("Entered string doesn't start with ls")

Enter the string: lsabc
Entered string starts with ls

## Question 9

Write a program to get a string which is n (non-negative integer) copies of a given string.

In [37]:
string: str = input("Enter the string: ")
n: int = int(input("Enter the value of n: "))

if n < 0:
  print("Value of n should be non-negative")
else:
  print(string * n)

Enter the string: hello
Enter the value of n: 5
hellohellohellohellohello

## Question 10
Write a program to find if a given number is odd or even.

In [25]:
num = int(input("Enter a number: "))

if (num % 2 == 0):
  print(f"{num} is an even number")
else:
  print(f"{num} is a odd number")

Enter a number: 28
28 is an even number

## Question 11
Write a program to check whether a character is a vowel or consonant..

In [28]:
char = str(input("Enter a character: "))

if (char in ['a', 'e', 'i', 'o', 'u']):
  print(f"{char} is vowel")
else:
  print(f"{char} is consonant")

Enter a character: e
e is vowel

## Question 12
Write a program to calculate the area of a triangle when the base and height are given

In [29]:
base: int = 12
height: int = 8

print("Area:", 0.5 * base * height)

Area: 48.0

## Question 13
Write a program to return True if a number in the given list is even.

In [32]:
num_list: list = [1, 3, 5, 7, 9, 12]

if any(num % 2 == 0 for num in num_list):
  print("Atleast one number in list is even")
else:
  print("All numbers in list are odd")

Atleast one number in list is even

## Question 14
Write a program to create a new string where 'xy' has been added to the front of a given string. If the string already begins with 'xy', return the string unchanged.

In [34]:
input_string = str(input("Enter a string: "))

if (input_string.startswith('xy')):
  print("Entered string:", input_string)
else:
  print(f"Modified string: xy{input_string}")

Enter a string: xyabc
Entered string: xyabc

## Question 15
Write a program to calculate the principal amount when the interest, time, and amount are given.

In [37]:
interest: float = 12.5   # percent
time: int = 2            # year
amount: float = 10000    # final amount

principal = (amount * 100) / (100 + (interest * time))
print(principal)

8000.0

## Question 16
Write a program to calculate the distance between two points (x1, y1) and (x2, y2).

In [38]:
import math

x1 = 1
y1 = 2
x2 = 4
y2 = 6

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print(distance)

5.0

## Question 17
Write a program to convert height in feet and inches to centimeters.

In [39]:
feet: int = 5
inches: int = 11

combined: float = feet + (inches / 12)
in_cms: float = combined * 30.48

print("Value is centimeter:", in_cms)

Value is centimeter: 180.34

## Question 18
Write a program to find the length of the hypotenuse of a right-angled triangle.

In [40]:
import math

a: int = 3
b: int = 4

hypotenuse = math.sqrt(a**2 + b**2)

print(hypotenuse)

5.0

## Question 19
Write a program to convert distance in kilometers to miles.

In [34]:
distance: float = float(input("Enter the distance in kilometer: "))

mile = distance * 0.62137119

print("Value in mile", round(mile, 2))

Enter the distance in kilometer: 14
Value in mile 8.7

## Question 20
Write a program to convert days, hours, minutes, and seconds into seconds.

In [42]:
days = 12
hours = 6
minutes = 32
seconds = 45

total_seconds = days * 24 * 3600 + hours * 3600 + minutes * 60 + seconds

print("Total seconds:", total_seconds)

Total seconds: 1060365

## Question 21
Write a program to calculate Body Mass Index (BMI).

In [43]:
weight: float = 70     # in kilogram
height: float = 1.75   # in meter

bmi = weight / (height ** 2)
if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 24.9:
    print("Normal weight")
elif 25 <= bmi < 29.9:
    print("Overweight")
else:
    print("Obesity")

Normal weight

## Question 22
Write a program to convert temperature from Celsius to Fahrenheit and vice versa.

In [3]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

print("Temperature Conversion")
print("1: Celsius to Fahrenheit")
print("2: Fahrenheit to Celsius")
user_choice = int(input("Enter the conversion type (1 or 2): "))

if user_choice == 1:
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = celsius_to_fahrenheit(celsius)
    print(f"{celsius}°C is equal to {fahrenheit:.2f}°F")
elif user_choice == 2:
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = fahrenheit_to_celsius(fahrenheit)
    print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")
else:
    print("Invalid choice. Please choose 1 or 2.")

Temperature Conversion
1: Celsius to Fahrenheit
2: Fahrenheit to Celsius
Enter the conversion type (1 or 2): 2
Enter temperature in Fahrenheit: 89
89.0°F is equal to 31.67°C

## Question 23
Write a program to sum the first 'n' positive integers.

In [5]:
n: int = 5

print("Total sum:", n * (n + 1) // 2)

Total sum: 15

## Question 24
Write a program to calculate the sum of all the digits in a given integer.

In [6]:
n: int = 12345

sum = 0
while n > 0:
    digit = n % 10
    sum += digit
    n //= 10

print("Sum of digits:", sum)

Sum of digits: 15

## Question 25
Write a program to convert a decimal number into binary, octal, and hexadecimal.

In [7]:
num: int = 10

print("Binary:", bin(num))
print("Octal:", oct(num))
print("Hexadecimal:", hex(num))

Binary: 0b1010
Octal: 0o12
Hexadecimal: 0xa

## Question 26
Write a program to convert a binary number to decimal.

In [12]:
def binary_to_decimal(binary):
    decimal = 0
    power = len(binary) - 1
    for digit in binary:
        decimal += int(digit) * (2 ** power)
        power -= 1
    return decimal

binary_num = "101"

print("Decimal:", binary_to_decimal(binary_num))

Decimal: 5

## Question 27
Write a program to convert an octal number to decimal.

In [13]:
def octal_to_decimal(octal):
    decimal = 0
    power = len(octal) - 1
    for digit in octal:
        decimal += int(digit) * (8 ** power)
        power -= 1
    return decimal

octal_num = "123"

print("Decimal:", octal_to_decimal(octal_num))

Decimal: 83

## Question 28
Write a program to convert a hexadecimal number to decimal.

In [14]:
def hexadecimal_to_decimal(hexadecimal):
    decimal = 0
    power = len(hexadecimal) - 1
    for digit in hexadecimal:
        if digit.isdigit():
            decimal += int(digit) * (16 ** power)
        else:
            # Convert hex letter to decimal equivalent
            decimal += (ord(digit.upper()) - 55) * (16 ** power)
        power -= 1
    return decimal

hexadecimal_num = "A1F"

print("Decimal:", hexadecimal_to_decimal(hexadecimal_num))

Decimal: 2591

## Question 29
Write a program to count the number of occurrences of a specific character in a string.

In [16]:
string: str = "bananans"
char = 'a'

count = string.count(char)

print("Number of occurrences of a:", count)

Number of occurrences of a: 3

## Question 30
Write a program to find the greatest common divisor (GCD) or highest common factor (HCF) of two numbers.

In [17]:
a: int = 12
b: int = 8

gcd = 1
for i in range(1, min(a, b) + 1):
    if a % i == 0 and b % i == 0:
        gcd = i

print("GCD:", gcd)

GCD: 4

## Question 31
Write a program to find the least common multiple (LCM) of two numbers.

In [18]:
a: int = 12
b: int = 8

lcm = max(a, b)
while True:
    if lcm % a == 0 and lcm % b == 0:
        break
    lcm += 1

print("LCM:", lcm)

LCM: 24

## Question 32
Write a program to reverse a given name.

In [19]:
name: str = "ankit"

print("Reversed name:", name[::-1])

Reversed name: tikna

## Question 33
Write a program to count the occurrences of a substring in a given string.

In [20]:
main_string = "hello world hello hello world"
sub_string = "hello"

count = main_string.count(sub_string)

print("Number of occurrences of 'hello':", count)

Number of occurrences of 'hello': 3

## Question 34
Write a program to distribute a given amount into notes.

In [24]:
amount = 1360

notes = [500, 200, 100, 50, 20, 10, 2, 1]
note_counts = {}

for note in notes:
    count = amount // note
    note_counts[note] = count
    amount %= note

for note, count in note_counts.items():
  if count > 0:
    print(f"{count} notes of {note}")

2 notes of 500
1 notes of 200
1 notes of 100
1 notes of 50
1 notes of 10

## Question 35
Write a program to check whether a given string is a palindrome or not.

In [25]:
string: str = "malayalam"

if string == string[::-1]:
  print("Palindrome")
else:
  print("Not palindrome")

Palindrome

## Question 36
Write a program to check whether a given number is a palindrome or not.

In [26]:
num: int = 1234321

if str(num) == str(num)[::-1]:
  print("Palindrome")
else:
  print("Not palindrome")

Palindrome

## Question 37
Write a program to generate the Fibonacci series.

In [29]:
def get_fibonacci_series(n):
  fibonacci_series = []
  if n <= 0:
      return fibonacci_series
  elif n == 1:
      fibonacci_series.append(0)
  elif n >= 2:
      fibonacci_series.extend([0, 1])
      for i in range(2, n):
          next_term = fibonacci_series[-1] + fibonacci_series[-2]
          fibonacci_series.append(next_term)
  return fibonacci_series

num_terms = 10

fibonacci_series = get_fibonacci_series(num_terms)
print(fibonacci_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Question 38
Write a program to print the multiplication table of a given number.

In [31]:
num: int = 14

for i in range(1, 11):
  print(f"{num} * {i} = {num * i}")

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

## Question 39
Write a program to count the number of letters and digits in a given string.

In [32]:
string: str = "hello123"

letters = 0
digits = 0

for char in string:
  if char.isalpha():
    letters += 1
  elif char.isdigit():
    digits += 1

print("Letters:", letters)
print("Digits:", digits)

Letters: 5
Digits: 3

## Question 40
Write a program to print the following pattern:

In [33]:
# The question doesn't specify any pattern
# Here's a star pattern

rows: int = 5

for i in range(1, rows + 1):
        print('*' * i)

*
**
***
****
*****