___

<a href='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'><img src='https://viqasys.com/wp-content/uploads/2021/07/ns1.png'/></a>
___
<center><em>Content Copyright VIQASYS INNOVATIONS PVT LTD.</em></center>

# Assignment 3

## Question 1
Write a Python program to create a list with the following elements: 4, 8, 9, 'apple', 'banana', 'cherry'. Print the list.

In [1]:
my_list=[4, 10, 9, 'apple', 'banana', 'mango']
print(my_list)

[4, 10, 9, 'apple', 'banana', 'mango']

## Question 2
Given the list [10, 20, 30, 40, 50], write a Python script to print the second and fourth elements.

In [3]:
my_list = [10, 20, 30, 40, 50]

print("Second element:", my_list[1])
print("Fourth element:", my_list[3])

Second element: 20
Fourth element: 40

## Question 3
Create a list of the first 10 even numbers. Write a Python program to print the first half of the list using slicing.

In [5]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
midpoint = len(even_numbers) // 2
first_half = even_numbers[:midpoint]
print("First half of the list:", first_half)

First half of the list: [2, 4, 6, 8, 10]

## Question 4
Here is a list: ["red", "green", "blue"]. Change the element "blue" to "yellow" and print the updated list.

In [6]:
colors = ["red", "green", "blue"]
colors[2] = "yellow"

print(colors)

['red', 'green', 'yellow']

## Question 5
Start with an empty list. Write a Python program to append 'apple', 'banana', and 'cherry' to the list using separate append calls, then print the list.

In [7]:
fruits = []
fruits.append('apple')
fruits.append('banana')
fruits.append('cherry')

print(fruits)

['apple', 'banana', 'cherry']

## Question 6
Given two lists, [1, 2, 3] and [4, 5, 6], write a Python script that extends the first list with the second list and prints the updated list.

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

## Question 7
Here is a list: [1, 2, 4]. Insert the number 3 at the appropriate position to maintain sorted order and print the list.

In [9]:
my_list = [1, 2, 4]
my_list.insert(2, 3)

print(my_list)

[1, 2, 3, 4]

## Question 8
From the list [1, 2, 3, 4, 5, 3], write a Python program to remove the first occurrence of the number 3.

In [10]:
my_list = [1, 2, 3, 4, 5, 3]
my_list.remove(3)

print(my_list)

[1, 2, 4, 5, 3]

## Question 9
Using the list [10, 20, 30, 40, 50], write a Python script to remove and print the last element.

In [11]:
my_list = [10, 20, 30, 40, 50]

last_element = my_list.pop()
print("Removed element:", last_element)

print("Updated list:", my_list)

Removed element: 50
Updated list: [10, 20, 30, 40]

## Question 10
Take the list [1, 2, 3, 4, 5] and write a Python script that empties the list and prints it.

In [13]:
numbers = [1, 2, 3, 4, 5]

numbers.clear()

print(numbers)

[]

## Question 11
Write a Python program to find the number of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(len(numbers))

9

## Question 12
Given the list ['apple', 'banana', 'apple', 'cherry'], count and print how many times 'apple' appears in the list.

In [17]:
fruits = ['apple', 'banana', 'apple', 'cherry']
apple_count = fruits.count('apple')

print(f"'apple' appeared {apple_count} times")

'apple' appeared 2 times

## Question 13
Create a list of the words ['banana', 'apple', 'cherry']. Write a Python program to sort the list alphabetically and print it.

In [18]:
words = ['banana', 'apple', 'cherry']
words.sort()

print(words)

['apple', 'banana', 'cherry']

## Question 14
Given the list [1, 2, 3, 4, 5], write a script that reverses the list and prints it.

In [19]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()

print(my_list)

[5, 4, 3, 2, 1]

## Question 15
Check if the value 'cat' exists in the list ['dog', 'rabbit', 'horse'] and print the result as a boolean value.

In [20]:
animals = ['dog', 'rabbit', 'horse']
cat_exists = 'cat' in animals

print(cat_exists)

False

## Question 16
Copy the contents of list a = [1, 2, 3] into a new list b and print both lists.

In [21]:
a = [1, 2, 3]
b = a.copy()

print("List a:", a)
print("List b:", b)

List a: [1, 2, 3]
List b: [1, 2, 3]

## Question 17
Using list comprehension, create a list of squares for numbers from 1 to 10 and print the list.

In [22]:
squares = [x**2 for x in range(1, 11)]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Question 18
Here is a nested list: [[1, 2], [3, 4], [5, 6]]. Access and print the second element of the first nested list.

In [23]:
nested_list = [[1, 2], [3, 4], [5, 6]]

second_element = nested_list[0][1]
print(second_element)

2

## Question 19
Concatenate the lists [1, 2, 3] and [4, 5, 6] into a single list and print the result.

In [24]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list = list1 + list2

print(combined_list)

[1, 2, 3, 4, 5, 6]

## Question 20
Using a list as a stack, push the elements 10, 20, 30, one by one, and then pop each one in LIFO order, printing each popped element.

In [25]:
stack = []

stack.append(10)
stack.append(20)
stack.append(30)

while stack:
  element = stack.pop()
  print(element)

30
20
10